body {
	background-color: #feffde;
}
.navbar-title {
	padding-top: 10px;
	color: black;
	width: 100%;
	text-align: center;
}
.sb-topnav {
	height: 106px;
}
.sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav {
	padding-top: 106px;
}
.sb-nav-fixed #layoutSidenav #layoutSidenav_content {
	top: 106px;
}
/* top navbar */

.bg-dark {
	background-color: #52734d !important;
}
/* side navbar */

.sb-sidenav-dark {
	background: #f8fcfb;
	color: black;
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link {
	color: black;
}
.sb-sidenav-dark .sb-sidenav-footer {
	background: #f8fcfb;
	color: #feffde;
}
/* link */
.sb-sidenav-dark .sb-sidenav-menu .nav-link .sb-nav-link-icon {
	color: black;
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link:hover {
	color: #6892d5;
}
/*footer*/

.bg-light {
	background-color: #91c788 !important;
	color: #feffde;
}
.text-muted {
	color: #ddffbc !important;
}
/*login*/

/* g */
#tab-1 {
	display: block;
}

#tab-2,
#tab-3,
#tab-4 {
	display: none;
}
