body {
	background-color: #feffde;
}
.navbar-title {
	color: #feffde;
	width: 100%;
	text-align: center;
}
.navbar-title p {
	color: #ddffbc;
}
.sb-topnav {
	height: 106px;
}
.sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav {
	padding-top: 106px;
}
.sb-nav-fixed #layoutSidenav #layoutSidenav_content {
	top: 106px;
}
/* top navbar */

.bg-dark {
	background-color: #52734d !important;
}
/* side navbar */

.sb-sidenav-dark {
	background: #52734d;
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link {
	color: #feffde;
}
.sb-sidenav-dark .sb-sidenav-footer {
	background: #91c788;
	color: #feffde;
}
/*footer*/

.bg-light {
	background-color: #91c788 !important;
	color: #feffde;
}
.text-muted {
	color: #ddffbc !important;
}
/*login*/
